PORT=5000
NODE_ENV=development

# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://sumanjana278_db_user:gkb7w6BXqVDKNekm@smartparkingcluster.xfzdu1c.mongodb.net/?appName=SmartParkingCluster

JWT_SECRET=replace_this_with_a_long_random_secret
JWT_EXPIRE=7d

# comma-separated list of allowed frontend origins
CLIENT_URL=http://localhost:5173
